/* pc */
@media (min-width:1024px){

    
}
/* tablet */
@media (min-width:740)and (max-width:123)
{
    
}
/* modi */
@media (max-width:740px){

    #nav{
        display: block;
    }
    #nav>li{
        display: block;
    }
    #header .search-btn {
        display: none;
    }
    #header .mobile-menu-btn{
        float: right;
        padding:0 21px;
        display:block
    }


}   
    
